{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="content"> 
            <form class="card-body" method="POST">
                {{ form.hidden_tag() }}  <!-- ESTA LÍNEA ES OBLIGATORIA -->
                <div class="col-6">
                    <div class="form-group mb-3">
                        {{ form.institution_id.label(class="form-label") }}
                        {{ form.institution_id(class="form-control") }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <!--Nombre-->
                                {{ form.name.label(class="form-label") }}
                                {{ form.name(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <!--Apellido-->
                                {{ form.lastname.label(class="form-label") }}
                                {{ form.lastname(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.confirm_password.label(class="form-label") }}
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                    <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6 text-end">
                            <a href="{{ url_for('auth.usuarios') }}" class="btn btn-secondary mt-2">Cancelar</a>
                            {{ form.submit(class="btn btn-success mt-2") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

