{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>{{ institucion.nombre }}</h3>
    {% if mostrar_formulario %}
        <h1>Subir Template de Balance</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.institucion.label }}<br>
                {{ form.institucion() }}
            </p>
            <p>
                {{ form.archivo.label }}<br>
                {{ form.archivo() }}
            </p>
            <p><input type="submit" value="Subir Template"></p>
        </form>
    <!--<p><strong>Ya existe un template para esta institución.</strong></p>-->
    {% endif %}
    {% if templates %}
        <h5>Template actual cargado:</h5>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <table class="table table-bordered table-scroll">
                        <thead class="table-light">
                            <tr>
                                <th>Nivel</th>
                                <th>Cuenta</th>
                                <th>Código</th>
                                <th>Proyección</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in templates %}
                                <tr>
                                    <td>{{ t.nivel }}</td>
                                    <td>{{ t.cuenta }}</td>
                                    <td>{{ t.codigo }}</td>
                                    <td>{{ t.proyeccion }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <div class='row'>
                        <div class='col-6'>
                            <h5>Validaciones</h5>
                        </div>
                        <div class='col-6'>
                            {% if mostrar_validaciones %}                            
                                <a href="#" class="btn btn-sm btn-primary">Generar validaciones</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}